/* @font-face { */
/*     font-family: "Anonymous Pro"; */
/*     src: url("../fonts/AnonymousPro-Regular.ttf") format("truetype"); */
/*     font-weight: normal; */
/*     font-style: normal; */
/* } */

/* @font-face { */
/*     font-family: "Anonymous Pro"; */
/*     src: url("../fonts/AnonymousPro-Bold.ttf") format("truetype"); */
/*     font-weight: bold; */
/*     font-style: normal; */
/* } */

/* @font-face { */
/*     font-family: "Anonymous Pro"; */
/*     src: url("../fonts/AnonymousPro-BoldItalic.ttf") format("truetype"); */
/*     font-weight: bold; */
/*     font-style: italic; */
/* } */

/* @font-face { */
/*     font-family: "Anonymous Pro"; */
/*     src: url("../fonts/AnonymousPro-Italic.ttf") format("truetype"); */
/*     font-weight: normal; */
/*     font-style: italic; */
/* } */

/* @font-face { */
/*     font-family: "Lora"; */
/*     src: url("../fonts/Lora-Regular.ttf") format("truetype"); */
/*     font-weight: normal; */
/*     font-style: normal; */
/* } */

/* @font-face { */
/*     font-family: "Lora"; */
/*     src: url("../fonts/Lora-Italic.ttf") format("truetype"); */
/*     font-weight: normal; */
/*     font-style: italic; */
/* } */

/* @font-face { */
/*     font-family: "Lora"; */
/*     src: url("../fonts/Lora-Bold.ttf") format("truetype"); */
/*     font-weight: bold; */
/*     font-style: normal; */
/* } */

/* @font-face { */
/*     font-family: "Lora"; */
/*     src: url("../fonts/Lora-BoldItalic.ttf") format("truetype"); */
/*     font-weight: bold; */
/*     font-style: italic; */
/* } */

/* @font-face { */
/*     font-family: "Merriweather"; */
/*     src: url("../fonts/Merriweather-Regular.ttf") format("truetype"); */
/*     font-weight: normal; */
/*     font-style: normal; */
/* } */

/* @font-face { */
/*     font-family: "Merriweather"; */
/*     src: url("../fonts/Merriweather-Light.ttf") format("truetype"); */
/*     font-weight: 300; */
/*     font-style: normal; */
/* } */

/* @font-face { */
/*     font-family: "Merriweather"; */
/*     src: url("../fonts/Merriweather-Bold.ttf") format("truetype"); */
/*     font-weight: bold; */
/*     font-style: normal; */
/* } */

h1,
h2,
h3,
h4,
h5,
h6,
p,
body,
a,
img,
ul,
ol,
blockquote,
pre {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Lora", serif;
  font-size: 21px;
  line-height: 1.52;
  background-color: #f8f8f8;
  text-rendering: optimizeLegibility;
}

.content-wrap {
  width: 34em;
  margin: 0 auto;
}

body,
a {
  color: #171717;
}

a:hover {
  color: #ff8000;
  text-decoration: underline;
}

p {
  margin-bottom: 1.52em;
}

pre {
  font-size: 0.9em;
  overflow: auto;
  background: #fff;
  border: 1px dashed #d2d2d2;
  border-radius: 0.25em;
  margin-bottom: 1.8em;
  padding: 1em;
}

h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

h2 {
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.43;
  margin-bottom: 1.35em;
}

h3 {
  font-style: italic;
  text-align: center;
  font-weight: 400;
  font-size: 1.4em;
  margin-top: 1.8em;
  margin-bottom: 0.8em;
}

ol,
ul {
  margin: 0 1.4em 1.4em 4em;
}

li {
  margin-bottom: 0.5em;
}

blockquote {
  margin: 1.2em 3em;
  padding-left: 1em;
  font-style: italic;
}

hr {
  border: 0;
  border-top: 1px dashed #d2d2d2;
  height: 0;
  margin: 1.6em 0;
}

/* page header */

.header {
  margin: 3em 0 5em;
}

.header h1 {
  font-size: 2.6em;
  text-align: center;
  font-weight: 700;
  margin: 0;
}

.header a,
.header a:hover {
  text-decoration: none;
  color: #171717;
}

.header .author {
  font-family: "Merriweather", serif;
  font-variant: small-caps;
  text-transform: lowercase;
  text-rendering: auto;
  text-align: center;
  font-weight: 400;
  letter-spacing: 1px;
}

.header .description {
  font-size: 1.2em;
  font-style: italic;
  text-align: center;
  margin-top: -0.3em;
}

body.article-detail > header h1 {
  font-size: 2.5em;
  font-style: italic;
  font-weight: 400;
  margin-bottom: -0.2em;
}

body.article-detail > header {
  margin-bottom: 3em;
}

/* page footer */

footer {
  margin: 3em 0;
}

footer .nav {
  text-align: center;
  margin-top: 5em;
  margin-bottom: 3.5em;
}

footer .nav a {
  padding: 0 0.5em;
  font-size: 1.2em;
  text-decoration: none;
}

footer .about {
  border-top: 1px dashed #d2d2d2;
  padding: 2.2em 3em;
  font-size: 0.7em;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  -ms-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  -ms-column-gap: 2em;
  column-gap: 2em;
}

footer .copy {
  text-align: center;
  font-size: 0.7em;
  font-style: italic;
  margin-top: 1em;
}

footer .copy,
footer .copy a {
  color: #8e8e8e;
}

/* article */

.article {
  margin: 3em 0 4em;
}

.article header {
  border-top: 1px dashed #d2d2d2;
}

.article header h2 {
  font-style: italic;
  text-align: center;
  font-weight: 400;
  margin: 0.8em 0;
  font-size: 1.4em;
}

.article header h2 a {
  text-decoration: none;
}

.article header .date {
  text-align: center;
  font-size: 0.8em;
  margin-top: -0.7em;
}

.article header .date span {
  background-color: #f8f8f8;
  padding: 0 0.7em;
}

.article.intro .content p {
  display: inline;
}

.article.intro .content .more {
  text-decoration: underline;
  font-weight: 700;
  padding-left: 0.3em;
}

.article img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.more,
.date {
  font-family: "Merriweather", serif;
  font-variant: small-caps;
  text-transform: lowercase;
  font-weight: 400;
  text-rendering: auto;
  letter-spacing: 1px;
}

/* archive */

.archive {
  width: 32em;
  margin: 5em auto 6em;
  padding-left: 2em;
}

.archive h2 {
  font-size: 2em;
  margin: 0;
  margin-left: 6.1em;
  margin-bottom: 0.5em;
  font-style: italic;
}

.archive a,
.archive span {
  display: block;
  float: left;
  margin-bottom: -1px;
  text-decoration: none;
}
.archive li:not(:last-child) {
  border-bottom: 1px solid #d2d2d2;
  margin-bottom: -1px;
}

.archive a.last,
.archive span.last {
  border: 0;
  margin-bottom: 0;
}

.archive a {
  width: 21em;
  text-indent: 1em;
  white-space: nowrap;
}

.archive .year-label,
.archive .month-label {
  width: 4em;
  font-family: "Merriweather", serif;
  font-variant: small-caps;
  text-transform: lowercase;
  font-weight: 400;
  text-rendering: auto;
  letter-spacing: 1px;
  text-align: center;
}

.archive .month-label {
  width: 7em;
}

.archive ul {
  list-style: none;
  margin: 0;
}

.archive ul li {
  margin: 0;
}

/* code styling */

code {
  font-family: "Anonymous Pro", monospace;
  font-size: 0.85em;
  color: #000;
}

pre code {
  display: block;
  line-height: 1.1;
}

p code {
  padding: 0.1em 0.3em 0.2em;
  border-radius: 0.3em;
  position: relative;
  background: #fffff3;

  white-space: nowrap;
}

/* syntax hl stuff */

code.lang-markdown {
  color: #424242;
}

code.lang-markdown .header,
code.lang-markdown .strong {
  font-weight: bold;
}

code.lang-markdown .emphasis {
  font-style: italic;
}

code.lang-markdown .horizontal_rule,
code.lang-markdown .link_label,
code.lang-markdown .code,
code.lang-markdown .header,
code.lang-markdown .link_url {
  color: #555;
}

code.lang-markdown .blockquote,
code.lang-markdown .bullet {
  color: #bbb;
}

/* Tomorrow Theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
.tomorrow-comment,
pre .comment,
pre .title {
  color: #8e908c;
}

.tomorrow-red,
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #c82829;
}

.tomorrow-orange,
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f5871f;
}

.tomorrow-yellow,
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #eab700;
}

.tomorrow-green,
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #718c00;
}

.tomorrow-aqua,
pre .css .hexcolor {
  color: #3e999f;
}

.tomorrow-blue,
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #4271ae;
}

.tomorrow-purple,
pre .keyword,
pre .javascript .function {
  color: #8959a8;
}

.find-me {
  text-align: center;
}

.find-me a {
  display: inline-block;
}

.find-me a + a {
  margin-left: 20px;
}

.find-me a + a::before {
  content: "-";
  display: inline-block;
  margin-right: 20px;
}

/* media queries */

@media (min-width: 1600px) {
  body {
    font-size: 26px;
  }
}

@media (max-width: 900px) {
  body {
    font-size: 18px;
  }
}

@media (max-width: 690px) {
  .content-wrap {
    width: auto;
    padding: 0 1em;
  }
  .header {
    margin: 1em 0;
  }
  .header h1 {
    font-size: 1.4em;
    margin-bottom: 0.6em;
  }
  .header .description {
    font-size: 1em;
  }
  .article {
    margin: 1em 0 2.5em;
  }
  .archive {
    width: 80%;
    margin: 0 auto;
  }
  .archive * {
    float: none !important;
    line-height: 1.6 !important;
    width: auto !important;
    height: auto !important;
    text-align: left !important;
    border: 0 !important;
    margin: 0 !important;
  }
  footer .nav {
    margin: 1em 0;
  }
  footer .about {
    padding: 0;
    font-size: 0.9em;
    padding-top: 1.6em;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    -ms-column-count: 1;
    column-count: 1;
  }
  footer .about p {
    margin-bottom: 1em;
  }
}

.editor {
  background-color: #1d1f21;
  color: #c5c8c6;
}
.editor .invisible-character {
  color: rgba(197, 200, 198, 0.2);
}
.editor .indent-guide {
  color: rgba(197, 200, 198, 0.2);
}
.editor .wrap-guide {
  background-color: rgba(197, 200, 198, 0.1);
}
.editor .gutter {
  background-color: #292c2f;
}
.editor .gutter .cursor-line {
  background-color: rgba(255, 255, 255, 0.14);
}
.editor .line-number.cursor-line-no-selection {
  background-color: rgba(255, 255, 255, 0.14);
}
.editor .gutter .line-number.folded,
.editor .gutter .line-number:after,
.editor .fold-marker:after {
  color: #fba0e3;
}
.editor .invisible {
  color: #c5c8c6;
}
.editor .cursor {
  border-color: white;
}
.editor .selection .region {
  background-color: #444;
}
.editor .bracket-matcher .region {
  border-bottom: 1px solid #f8de7e;
  margin-top: -1px;
  opacity: 0.7;
}
.syntax--comment {
  color: #8a8a8a;
}
.syntax--entity {
  color: #ffd2a7;
}
.syntax--entity.syntax--name.syntax--type {
  text-decoration: underline;
  color: #ffffb6;
}
.syntax--entity.syntax--other.syntax--inherited-class {
  color: #9b5c2e;
}
.syntax--keyword {
  color: #96cbfe;
}
.syntax--keyword.syntax--control {
  color: #96cbfe;
}
.syntax--keyword.syntax--operator {
  color: #ededed;
}
.syntax--storage {
  color: #cfcb90;
}
.syntax--storage.syntax--modifier {
  color: #96cbfe;
}
.syntax--constant {
  color: #99cc99;
}
.syntax--constant.syntax--numeric {
  color: #ff73fd;
}
.syntax--variable {
  color: #c6c5fe;
}
.syntax--invalid.syntax--deprecated {
  text-decoration: underline;
  color: #fd5ff1;
}
.syntax--invalid.syntax--illegal {
  color: #fd5ff1;
  background-color: rgba(86, 45, 86, 0.75);
}
.syntax--string .syntax--source,
.syntax--string .syntax--meta.syntax--embedded.syntax--line {
  color: #ededed;
}
.syntax--string .syntax--punctuation.syntax--section.syntax--embedded {
  color: #00a0a0;
}
.syntax--string
  .syntax--punctuation.syntax--section.syntax--embedded
  .syntax--source {
  color: #00a0a0;
}
.syntax--string {
  color: #a8ff60;
}
.syntax--string .syntax--constant {
  color: #00a0a0;
}
.syntax--string.syntax--regexp {
  color: #e9c062;
}
.syntax--string.syntax--regexp
  .syntax--constant.syntax--character.syntax--escape,
.syntax--string.syntax--regexp .syntax--source.syntax--ruby.syntax--embedded,
.syntax--string.syntax--regexp
  .syntax--string.syntax--regexp.syntax--arbitrary-repetition {
  color: #ff8000;
}
.syntax--string.syntax--regexp.syntax--group {
  color: #c6a24f;
  background-color: rgba(255, 255, 255, 0.06);
}
.syntax--string.syntax--regexp.syntax--character-class {
  color: #b18a3d;
}
.syntax--string .syntax--variable {
  color: #8a9a95;
}
.syntax--support {
  color: #ffffb6;
}
.syntax--support.syntax--function {
  color: #dad085;
}
.syntax--support.syntax--constant {
  color: #ffd2a7;
}
.syntax--support.syntax--type.syntax--property-name.syntax--css {
  color: #ededed;
}
.syntax--source .syntax--entity.syntax--name.syntax--tag,
.syntax--source .syntax--punctuation.syntax--tag {
  color: #96cbfe;
}
.syntax--source .syntax--entity.syntax--other.syntax--attribute-name {
  color: #ff73fd;
}
.syntax--entity.syntax--other.syntax--attribute-name {
  color: #ff73fd;
}
.syntax--entity.syntax--name.syntax--tag.syntax--namespace,
.syntax--entity.syntax--other.syntax--attribute-name.syntax--namespace {
  color: #e18964;
}
.syntax--meta.syntax--preprocessor.syntax--c {
  color: #8996a8;
}
.syntax--meta.syntax--preprocessor.syntax--c .syntax--keyword {
  color: #afc4db;
}
.syntax--meta.syntax--cast {
  color: #676767;
}
.syntax--meta.syntax--sgml.syntax--html .syntax--meta.syntax--doctype,
.syntax--meta.syntax--sgml.syntax--html
  .syntax--meta.syntax--doctype
  .syntax--entity,
.syntax--meta.syntax--sgml.syntax--html
  .syntax--meta.syntax--doctype
  .syntax--string,
.syntax--meta.syntax--xml-processing,
.syntax--meta.syntax--xml-processing .syntax--entity,
.syntax--meta.syntax--xml-processing .syntax--string {
  color: #8a8a8a;
}
.syntax--meta.syntax--tag .syntax--entity,
.syntax--meta.syntax--tag > .syntax--punctuation,
.syntax--meta.syntax--tag.syntax--inline .syntax--entity {
  color: #ff73fd;
}
.syntax--meta.syntax--tag .syntax--name,
.syntax--meta.syntax--tag.syntax--inline .syntax--name,
.syntax--meta.syntax--tag > .syntax--punctuation {
  color: #96cbfe;
}
.syntax--meta.syntax--selector.syntax--css
  .syntax--entity.syntax--name.syntax--tag {
  text-decoration: underline;
  color: #96cbfe;
}
.syntax--meta.syntax--selector.syntax--css
  .syntax--entity.syntax--other.syntax--attribute-name.syntax--tag.syntax--pseudo-class {
  color: #8f9d6a;
}
.syntax--meta.syntax--selector.syntax--css
  .syntax--entity.syntax--other.syntax--attribute-name.syntax--id {
  color: #8b98ab;
}
.syntax--meta.syntax--selector.syntax--css
  .syntax--entity.syntax--other.syntax--attribute-name.syntax--class {
  color: #62b1fe;
}
.syntax--meta.syntax--property-group
  .syntax--support.syntax--constant.syntax--property-value.syntax--css,
.syntax--meta.syntax--property-value
  .syntax--support.syntax--constant.syntax--property-value.syntax--css {
  color: #f9ee98;
}
.syntax--meta.syntax--preprocessor.syntax--at-rule
  .syntax--keyword.syntax--control.syntax--at-rule {
  color: #8693a5;
}
.syntax--meta.syntax--property-value
  .syntax--support.syntax--constant.syntax--named-color.syntax--css,
.syntax--meta.syntax--property-value .syntax--constant {
  color: #87c38a;
}
.syntax--meta.syntax--constructor.syntax--argument.syntax--css {
  color: #8f9d6a;
}
.syntax--meta.syntax--diff,
.syntax--meta.syntax--diff.syntax--header {
  color: #f8f8f8;
  background-color: #0e2231;
}
.syntax--meta.syntax--separator {
  color: #60a633;
  background-color: #242424;
}
.syntax--meta.syntax--line.syntax--entry.syntax--logfile,
.syntax--meta.syntax--line.syntax--exit.syntax--logfile {
  background-color: rgba(238, 238, 238, 0.16);
}
.syntax--meta.syntax--line.syntax--error.syntax--logfile {
  background-color: #751012;
}
.syntax--source.syntax--gfm {
  color: #999;
}
.syntax--gfm .syntax--markup.syntax--heading {
  color: #eee;
}
.syntax--gfm .syntax--link {
  color: #555;
}
.syntax--gfm .syntax--variable.syntax--list,
.syntax--gfm .syntax--support.syntax--quote {
  color: #555;
}
.syntax--gfm .syntax--link .syntax--entity {
  color: #ddd;
}
.syntax--gfm .syntax--raw {
  color: #aaa;
}
.syntax--markdown .syntax--paragraph {
  color: #999;
}
.syntax--markdown .syntax--heading {
  color: #eee;
}
.syntax--markdown .syntax--raw {
  color: #aaa;
}
.syntax--markdown .syntax--link {
  color: #555;
}
.syntax--markdown .syntax--link .syntax--string {
  color: #555;
}
.syntax--markdown .syntax--link .syntax--string.syntax--title {
  color: #ddd;
}

